.ui.modal.add_option
  %i.close.icon
  .header
    Add Option
  .content
    .left
      Content can appear on left
    .right
      Content can appear on right
  .actions
    .ui.button Cancel
    .ui.button OK
