.ui.very.wide.styled.sidebar.contact
  %h3.ui.header Contact Us
  .ui.form
    .field
      %label Name
      .ui.icon.input
        %i.user.icon
        %input{"data-placeholder" => "Name", type: "text"}/
    .field
      %label Message
      %textarea
    .ui.black.fluid.button Submit