.ui.top.compact.tiered.purple.inverted.menu
  .menu
    %a.active.item
      %i.icon.home
      KssKss
    %a.ui.dropdown.item
      %i.icon.mail
      Messages
      %i.dropdown.icon
      .menu
        .item
          %i.mail.icon>
          Categories
          .menu
            .item Unread
            .item Updates
        .item
          %i.book.icon>
          Archive
    %a.item
      %i.user.icon
      Browse
  .sub.menu
    %a.item Activity Feed
    %a.item Profile
    %a.item CoinCoins