.ui.top.compact.tiered.purple.inverted.menu
  .menu
    %a.item.home
      %i.icon.home
      KssKss
    %a.item.profile
      %i.user.icon
      Profile
    %a.ui.dropdown.item
      %i.icon.plane
      Campaigns
      %i.dropdown.icon
      .menu
        .item.campaign.create
          %i.add.icon>
          Create
        .item.campaign.list
          %i.list.icon>
          List
    %a.item.contact
      %i.icon.mail
      Contact us
  - if controller_name == 'profile'
    .sub.menu
      %a.item.activity 
        %i.icon.time
        Activity Feed
      %a.item.campaigns 
        %i.icon.bitcoin
        Campaigns
      %a.item.coinscoins 
        %i.icon.legal
        CoinCoins
      %a.item.settings
        %i.icon.settings 
        Settings