.ui.top.compact.tiered.purple.inverted.menu
  .menu
    %a.item.home
      %i.icon.home
      KssKss
    %a.item.profile
      %i.user.icon
      Profile
    %a.ui.dropdown.item
      %i.icon.plane
      Campaigns
      %i.dropdown.icon
      .menu
        .item
          %i.mail.icon>
          Categories
          .menu
            .item Unread
            .item Updates
        .item
          %i.book.icon>
          Archive
    %a.item.contact
      %i.icon.mail
      Contact us
  - if controller_name == 'profile'
    .sub.menu
      %a.item.activity Activity Feed
      %a.item.campaigns Campaigns
      %a.item.coinscoins CoinCoins