.ui.modal.transaction
  %i.close.icon
  .header
    Transaction
  .ui.form.segment
    .ui.form.segment.inverted
      .field
        %label JSON
        #deflat
      .field
        %label RAW
        #raw
      .field.fluid
        %label Sign Transaction
        %input{placeholder: "Sign Transaction", type: "text", name: "transaction_sign"}/

  .actions
    .ui.button Cancel
    .ui.button.sign_transaction OK
