- unless @campaigns.nil?
  .ui.items
    - @campaigns.each do |c|
      .item.campaign
        .content
          .name= c.name
          %p.description= c.description
        .ui.button.add_option.red= 'Add an option !'
