- unless @campaigns.nil?
  .ui.items
    - @campaigns.each do |c|
      .item.campaign{"data-bitcoin_address"=> c.bitcoin_address}
        .content
          .name= c.name
          %p.description= c.description
        .ui.button.add_pledge.red= 'Add pledge'
