body
  background-color: $site-color
  margin: 0
  font-family: 'Open Sans', sans-serif
.main
  background-color: $site-color
  padding-top: 8px

.ui.top
  background-color: #819BA6
  width: 100%

.item.campaign
  height: 200px
