body
  background-color: $site-color
  margin: 0
  font-family: 'Open Sans', sans-serif
.main
  background-color: $site-color
  padding-top: 8px

.ui.top.sidebar
  background-color: #57102C
    height: 50px !important

.item.campaign
  height: 200px
