%h2.ui.header
  %i.user.icon
  .content
    My Profile
    .sub.header Your profile dashboard

.ui.grid
  .ten.wide.column
    .ui.small.piled.feed.segment
      %h4.ui.header My Activity
      .event
        .label
          %img{src: "/images/demo/avatar2.jpg"}/
        .content
          .date
            Just moments ago
          .summary
            %a Sally Poodle
            added you as a friend
      .event
        .label
          %i.circular.pencil.icon
        .content
          .date
            3 days ago
          .summary
            You submitted a new campaign
          .extra.text
            I am a dog and I do not know how to make a KssKss campaign
      .event
        .label
          %i.circular.photo.icon
        .content
          .date
            3 days ago
          .summary
            %a Sally Poodle
            added
            %a 2 new photos
            of you
          .extra.images
            %img{src: "/images/demo/item1.jpg"}/
            %img{src: "/images/demo/item2.jpg"}/
  .six.wide.column
    .ui.small.feed.segment
      %h4.ui.header Followers Activity
      .event
        .content
          .summary
            %a Sally Poodle
            added
            %a hotpup202
            as a friend
      .event
        .content
          .summary
            %a Dally Doodle
            added
            %a hotpup202
            as a friend
      .event
        .content
          .summary
            %a Sally Poodle
            added
            %a sixpack dog
            as a friend
      .event
        .content
          .summary
            %a Dally Doodle
            added
            %a hotpup202
            as a friend